.tryit {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .tryit .artist-image {
    width: 60%;
    border-radius: 50%; }
  .tryit p {
    padding-top: 0; }
  .tryit ul {
    list-style: none;
    text-align: left; }
  .tryit .track {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .tryit .track li {
      font-size: 16px;
      padding: 10px; }
