.Header {
  text-align: right;
  padding-right: 15px; }
  .Header h1 {
    display: inline-block;
    font-size: 55px;
    margin: 0;
    padding: 10px;
    vertical-align: middle; }
  .Header img {
    display: inline-block;
    width: 65px;
    padding: 30px 6px;
    vertical-align: middle; }
  .Header .profile-photo {
    position: absolute;
    left: 10px;
    border-radius: 50%; }
