.Header {
  text-align: right;

  h1 {
    display: inline-block;
    font-size: 55px;
    margin: 0;
    padding: 10px;
    vertical-align: middle;
  }

  img {
    display: inline-block;
    width: 65px;
    padding: 30px 30px 30px 6px;
    vertical-align: middle;
  }
}
