.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .artist-card:hover {
    cursor: pointer; }
  .artist-card img {
    height: 50px;
    border-radius: 25px; }
  .artist-card p {
    text-align: left;
    padding: 0 15px; }
