.Header {
  text-align: right;
  padding-right: 15px; }
  .Header h1 {
    display: inline-block;
    font-size: 55px;
    margin: 0;
    padding: 10px;
    vertical-align: middle; }
  .Header img {
    display: inline-block;
    width: 65px;
    padding: 30px 6px;
    vertical-align: middle; }
  .Header .profile-photo {
    position: absolute;
    left: 10px;
    border-radius: 50%;
    object-fit: cover; }

.search {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .search input {
    width: 90%;
    height: 45px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    margin: 30px 0 0 0; }
    .search input::placeholder {
      padding-left: 10px;
      color: grey; }
  .search p {
    text-align: left; }
  .search .search-error {
    font-size: 16px;
    padding: 10px 0 0 35px;
    margin-top: 0; }

.Instructions {
  padding-top: 30px; }
  .Instructions .instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px; }
    .Instructions .instruction p {
      padding: 0 15px; }

.search-results ul {
  padding: 0 20px; }

.search-results p {
  text-align: center; }

.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .artist-card:hover {
    cursor: pointer;
    background-color: #272727; }
  .artist-card img {
    height: 50px;
    width: 50px;
    padding: 10px;
    border-radius: 50%;
    object-fit: cover; }
  .artist-card p {
    text-align: left;
    padding: 0 15px;
    font-size: 25px; }

.signin {
  width: 45%;
  margin: 50px auto;
  text-align: center; }

.tryit {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .tryit .artist-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; }
  .tryit p {
    padding-top: 0; }
  .tryit ul {
    list-style: none;
    text-align: left; }
  .tryit .track {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .tryit .track li {
      font-size: 16px;
      padding: 10px; }

.success {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .success button {
    margin-top: 30px; }
  .success .artist-image {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover; }
  .success p {
    padding-top: 0; }
  .success ul {
    list-style: none;
    text-align: left; }
  .success .track {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .success .track li {
      font-size: 16px;
      padding: 10px; }

body {
  background: #333333;
  background: -moz-linear-gradient(top, #333333 0%, #000000 40%);
  background: -webkit-linear-gradient(top, #333333 0%, #000000 40%);
  background: linear-gradient(to bottom, #333333 0%, #000000 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$hexColor1, endColorstr=$hexColor2,GradientType=0 );
  height: 150vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white; }
  body button {
    background-color: #1fd760;
    width: 90%;
    height: 45px;
    border: none;
    color: white;
    font-size: 20px; }
    body button:hover {
      cursor: pointer;
      background-color: #1ab350; }
  body p {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 300; }

@media only screen and (max-width: 768px) {
  .signin,
  .search,
  .tryit,
  .success {
    width: 75%; }
  .Header {
    padding-right: 20px; }
    .Header h1 {
      font-size: 35px; }
    .Header img {
      width: 35px;
      padding: 30px 0; }
    .Header .profile-photo {
      left: 20px; }
  body p {
    font-size: 20px;
    padding-bottom: 10px; }
  .signin {
    margin-top: 0; }
  .search,
  .tryit,
  .success {
    margin-top: 10px; }
  .instruction img {
    width: 30px; }
  .artist-card p {
    font-size: 20px;
    padding: 6px;
    margin: 0; }
  .artist-card img {
    width: 35px;
    height: 35px; }
  .tryit .artist-image,
  .success .artist-image {
    width: 150px;
    height: 150px; }
  .tryit ul,
  .success ul {
    padding-left: 20px; } }

@media only screen and (max-width: 400px) {
  body button {
    font-size: 16px; }
  .search .search-error {
    padding-left: 15px; } }
