@import '../Header/Header.scss';
@import '../Authorize/Authorize.scss';
@import '../Search/Search.scss';
@import '../Instructions/Instructions.scss';
@import '../SearchResults/SearchResults.scss';
@import '../ArtistCard/ArtistCard.scss';
@import '../Signin/Signin.scss';
@import '../Tryit/Tryit.scss';
@import '../Success/Success.scss';

$spotify-green: #1fd760;

@mixin linear-gradient($hexColor1, $hexColor2) {
  background: $hexColor1;
  background: -moz-linear-gradient(top, $hexColor1 0%, $hexColor2 50%);
  background: -webkit-linear-gradient(top, $hexColor1 0%, $hexColor2 50%);
  background: linear-gradient(to bottom, $hexColor1 0%, $hexColor2 50%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr=$hexColor1, endColorstr=$hexColor2,GradientType=0 );
}

body {
  @include linear-gradient(#333333, #000000);
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;

  button {
    background-color: $spotify-green;
    width: 90%;
    height: 45px;
    border: none;
    color: white;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      background-color: darken($spotify-green, 8%);
    }
  }

  p {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 300;
  }
}


@media only screen and (max-width: 768px) {
  .signin,
  .search,
  .tryit,
  .success {
    width: 75%
  } 

  .Header {
    text-align: center;

    h1 {
      font-size: 40px;
    }

    img {
      width: 45px;
    }
  }

  body p {
    font-size: 20px;
    padding-top: 0;
  }

  .search,
  .tryit, 
  .success {
    margin-top: 10px;
  }

  .instruction img {
    width: 30px; 
  }

  .artist-card {
    p {
      font-size: 20px;
      padding: 6px;
      margin: 0;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  .tryit,
  .success {
    .artist-image {
      width: 150px;
      height: 150px;
    }

    ul {
      padding-left: 20px;
    }
  }
}

@media only screen and (max-width: 350px) {
  body button {
    font-size: 16px;
  }
} 
