@import '../Header/Header.scss';
@import '../Authorize/Authorize.scss';
@import '../Search/Search.scss';
@import '../Instructions/Instructions.scss';
@import '../SearchResults/SearchResults.scss';
@import '../ArtistCard/ArtistCard.scss';
@import '../Signin/Signin.scss';
@import '../Tryit/Tryit.scss';

$spotify-green: #1fd760;

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white;

  button {
    background-color: $spotify-green;
    width: 90%;
    height: 45px;
    border: none;
    color: white;
    font-size: 20px;

    &:hover {
      cursor: pointer;
      background-color: darken($spotify-green, 8%);
    }
  }

  p {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 300;
  }
}


@media only screen and (max-width: 768px) {
  .signin,
  .search,
  .tryit {
    width: 75%
  } 

  .Header {
    text-align: center;

    h1 {
      font-size: 40px;
    }

    img {
      width: 45px;
      padding-right: 0;
    }
  }

  body p {
    font-size: 20px;
    padding-top: 0;
  }

  .search,
  .tryit {
    margin-top: 10px;
  }

  .instruction img {
    width: 30px; 
  }

  .artist-card {
    p {
      font-size: 20px;
      padding: 6px;
      margin: 0;
    }

    img {
      width: 35px;
      height: 35px;
    }
  }

  .tryit {
    .artist-image {
      width: 150px;
      height: 150px;
    }

    ul {
      padding-left: 20px;
    }
  }
}


