.Header {
  text-align: right; }
  .Header h1 {
    display: inline-block;
    font-size: 55px;
    margin: 0;
    padding: 10px;
    vertical-align: middle; }
  .Header img {
    display: inline-block;
    width: 65px;
    padding: 30px 30px 30px 6px;
    vertical-align: middle; }

.search {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .search input {
    width: 90%;
    height: 45px;
    font-size: 20px;
    box-sizing: border-box;
    border: none;
    padding-left: 10px;
    margin: 30px 0; }
    .search input::placeholder {
      padding-left: 10px;
      color: grey; }
  .search p {
    text-align: left; }

.Instructions {
  padding-top: 30px; }
  .Instructions .instruction {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0 20px; }
    .Instructions .instruction p {
      padding: 0 15px; }

.search-results ul {
  padding: 0 20px; }

.search-results p {
  text-align: center; }

.artist-card {
  display: flex;
  flex-direction: row;
  align-items: center; }
  .artist-card:hover {
    cursor: pointer;
    background-color: #272727; }
  .artist-card img {
    height: 50px;
    padding: 10px;
    border-radius: 50%; }
  .artist-card p {
    text-align: left;
    padding: 0 15px;
    font-size: 25px; }

.signin {
  width: 45%;
  margin: 50px auto;
  text-align: center; }

.tryit {
  width: 45%;
  margin: 50px auto;
  text-align: center; }
  .tryit .artist-image {
    width: 60%;
    border-radius: 50%; }
  .tryit p {
    padding-top: 0; }
  .tryit ul {
    list-style: none;
    text-align: left; }
  .tryit .track {
    display: flex;
    flex-direction: row;
    align-items: center; }
    .tryit .track li {
      font-size: 16px;
      padding: 10px; }

body {
  background-color: black;
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  color: white; }
  body button {
    background-color: #1fd760;
    width: 90%;
    height: 45px;
    border: none;
    color: white;
    font-size: 20px; }
    body button:hover {
      cursor: pointer;
      background-color: #1ab350; }
  body p {
    padding-top: 30px;
    font-size: 30px;
    font-weight: 300; }
